# Compiled Object and Library files
*.o
*.so

# Fortran module files
*.mod

# Executables
*.out


# outputs
**/outputs
**/plots
**/data_plots/plots
**/slurm_out
**/results

#cache
**/__pycache__
.DS_Store
